<p>course works!</p>
    <!--====== Header Start ======-->

    <header class="header-area">
        <div class="header-top">
            <div class="container">
                <div class="header-top-wrapper d-flex flex-wrap justify-content-sm-between">
                    <div class="header-top-left mt-10">
                        <ul class="header-meta">
                            <li><a href="mailto://infoedumate@example.com">isetbizerte@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="header-top-right mt-10">
                        <div class="header-link">
                            <a class="login" (click)="goToLogin()">Login</a>
                            <a class="register" (click)="goToRegister()">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="navigation" class="navigation navigation-landscape">
            <div class="container position-relative">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="header-logo">
                            <a href="index.html"><img src="assets/images/logo.webp" width="135" height="88" alt="Logo"></a>
                        </div>
                    </div>
                    <div class="col-lg-7 position-static">
                        <div class="nav-toggle"></div>
                        <nav class="nav-menus-wrapper">
                            <ul class="nav-menu">
                                <li>
                                    <a class="active" (click)="goToHome()">Home</a>
                                    
                                </li>
                                <li>
                                    <a (click)="goToCourse()">Courses</a>
                                    
                                </li>
                                <li>
                                    <a (click)="goToEvent()">Events</a>
                                    
                                </li>
                                <li>
                                    <a (click)="goToProduct()">Product</a>
                                    
                                </li>
                                
                                <li><a (click)="goToContact()">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    
                </div>
            </div>
        </div>
    </header>
    <section class="top-courses-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title mt-40">
                        <h2 class="title">Here is our <br> Top Courses</h2>
                    </div>
                </div>
            </div>
            <button type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary w-90 my-3 shadow">Add Course</button>

        </div>
    </section>

    <table class="table table-hover" style="margin-top: 60px;">
        <thead class=" table-blue">
          <tr>
            <th scope="col"><h3>Course</h3></th>
            <th scope="col"><h3>chapter</h3></th>
            <th scope="col"><h3>Date</h3></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngFor="let row of courseData">
          <tr>
            
            <td>{{row.course}}</td>
            <td>{{row.chapter}}</td>
            <td>{{row.date}}</td>
            <td>
                <button (click)="deleteCourse(row)" class="btn btn-danger mx-3">delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      
      
    
    
    
    
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Course</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name Course</label>
                        <input type="text" formControlName="course" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter course">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Chapter</label>
                        <input type="text" formControlName="chapter" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter chapter">
                      </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Date Course</label>
                      <input type="email" formControlName="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter date">
                    </div>
                    
                    
                  </form>
            </div>
            <div class="modal-footer">
              <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" (click)="postCourseDetails()" class="btn btn-primary">Add</button>
            </div>
          </div>
        </div>
      </div>
